fastapi
uvicorn
torch>=2.0.0
httpx
torchvision>=0.15.0
numpy
pandas
scikit-learn
astropy>=5.0.0
requests
pydantic
pyyaml
dvc
mlflow
astroquery
alerce
groq
sqlalchemy
passlib[bcrypt]
python-jose[cryptography]
python-multipart
psycopg2-binary
